* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: transparent;
}

input,
textarea {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: transparent;
}
